form.SearchTodoForm {
  margin-top: 0.95em;
}
label.SearchTodoForm {
  display: flex;
  margin: 0;
  padding: 0;
  line-height: 1;
  cursor: pointer;
}
input.SearchTodoForm {
  margin-bottom: 2em;
  margin-top: 0;
}
input.SearchBox {
  margin-bottom: .2em;
  margin-top: 2em;
}